@media screen and (max-width: 1000px) {
  .text-xl {
    font-size: 36px;
  }
  .text-l {
    font-size: 22px;
  }
  .text-m {
    font-size: 18px;
  }
  .text-s {
    font-size: 16px;
  }
  
  .img-h-xl {
  
  }
  .img-h-m {
  
  }
  .img-h-s {
    height: 150px;
  }
  
  
  .img-xl {
  
  }
  .img-m {
  
  }
  .img-s {
    width: 150px;
  }
  
  .mb-xl {
    margin-bottom: 12px;
  }
  .mb-m {
    margin-bottom: 8px;
  }
  .mb-s {
    margin-bottom: 6px;
  }
  
  .pb-xl {
  
  }
  .pb-m {
  
  }
  .pb-s {
    padding-bottom: 6px;
  }
}


@media screen and (max-width: 750px) {
  .text-xl {
    font-size: 32px;
  }
  .text-l {
    font-size: 18px;
  }
  .text-m {
    font-size: 16px;
  }
  .text-s {
    font-size: 14px;
  }
  
  .img-h-xl {
  
  }
  .img-h-m {
  
  }
  .img-h-s {
    height: 120px;
  }
  
  
  .img-xl {
  
  }
  .img-m {
  
  }
  .img-s {
    width: 120px;
  }
  
  .mb-xl {
    margin-bottom: 12px;
  }
  .mb-m {
    margin-bottom: 8px;
  }
  .mb-s {
    margin-bottom: 6px;
  }
  
  .pb-xl {
  
  }
  .pb-m {
  
  }
  .pb-s {
    padding-bottom: 6px;
  }
}

@media screen and (max-width: 550px) {
  .text-xl {
    font-size: 28px;
  }
  .text-l {
    font-size: 16px;
  }
  .text-m {
    font-size: 14px;
  }
  .text-s {
    font-size: 12px;
  }
  
  .img-h-xl {
  
  }
  .img-h-m {
  
  }
  .img-h-s {
    height: 80px;
  }
  
  
  .img-xl {
  
  }
  .img-m {
  
  }
  .img-s {
    width: 80px;
  }
  
  .mb-xl {
    margin-bottom: 12px;
  }
  .mb-m {
    margin-bottom: 8px;
  }
  .mb-s {
    margin-bottom: 6px;
  }
  
  .pb-xl {
  
  }
  .pb-m {
  
  }
  .pb-s {
    padding-bottom: 6px;
  }
}
